n8n_github_native_tri_model.json
{
  "name": "Apex \u2014 Tri-Model Council (GitHub Native PR Trigger)",
  "nodes": [
    {
      "parameters": {
        "authentication": "accessToken",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "johanneslungelo021-cmd"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "Apex"
        },
        "events": [
          "pull_request"
        ]
      },
      "id": "gh-trigger-1",
      "name": "GitHub PR Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "credentials": {
        "githubApi": {
          "id": "githubApi",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.pull_request.diff_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token {{ $env.GITHUB_PAT_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.diff"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-diff-2",
      "name": "Fetch PR Diff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst pr       = $('GitHub PR Trigger').item.json.pull_request;\nconst repo     = $('GitHub PR Trigger').item.json.repository;\nconst rawDiff  = $input.item.json.data || $input.item.json.body || '';\n\nconst prTitle  = pr.title || 'Untitled PR';\nconst prNumber = pr.number;\nconst prUrl    = pr.html_url;\nconst prBody   = pr.body || '';\nconst author   = pr.user?.login || 'unknown';\nconst branch   = pr.head?.ref || 'unknown';\nconst base     = pr.base?.ref || 'main';\nconst repoName = repo.full_name || 'johanneslungelo021-cmd/Apex';\n\n// Detect platform from PR labels or title keywords\nconst labels    = ($('GitHub PR Trigger').item.json.pull_request.labels || []).map(l => l.name.toLowerCase());\nconst isNumerai = labels.includes('numerai') || prTitle.toLowerCase().includes('numerai') || prBody.toLowerCase().includes('numerai');\nconst platform  = isNumerai ? 'Numerai' : 'Moltcorp';\n\nconst ctx = `PR #${prNumber}: \"${prTitle}\" | Author: ${author} | Branch: ${branch} \u2192 ${base} | Repo: ${repoName} | URL: ${prUrl}`;\n\nlet deepseekPrompt, qwenPrompt, kimiPrompt;\n\nif (platform === 'Numerai') {\n  deepseekPrompt = [\n    'You are a Quantitative Auditor for Numerai (https://numer.ai/).',\n    'Analyse this code diff for overfitting risks, MMC impact, and data leakage.',\n    'Output: VERDICT: PASS or FAIL | RISK_LEVEL: low/medium/high | FINDINGS: (numbered) | MMC_IMPACT: (estimate)',\n    '', ctx, '', 'Diff:', rawDiff.substring(0, 8000)\n  ].join('\\n');\n\n  qwenPrompt = [\n    'You are a Python Feature Engineering Agent for Numerai.',\n    'Review this diff for compute efficiency and suggest 3 feature engineering improvements.',\n    'Output: CODE_QUALITY_SCORE: X/10 | OPTIMISATIONS: (numbered with code) | EFFICIENCY_GAIN: (estimate)',\n    '', ctx, '', 'Diff:', rawDiff.substring(0, 8000)\n  ].join('\\n');\n\n  kimiPrompt = [\n    '<think>',\n    'You are a Numerai Meta-Analyst. Evaluate this strategy change for tournament viability.',\n    'Cross-reference against known Numerai v5.0 patterns and NMR staking risk.',\n    'Output: UX_IMPACT: low/medium/high | TOURNAMENT_RISK: low/medium/high | RECOMMENDATIONS: (list)',\n    '', ctx, '', 'Diff:', rawDiff.substring(0, 8000),\n    '</think>'\n  ].join('\\n');\n\n} else {\n  // Moltcorp / Apex PR\n  deepseekPrompt = [\n    'You are a Security Auditor for the Apex fintech platform (South Africa).',\n    'Hard-review this code diff for: auth bypasses, payment gateway friction, injection vectors, RLS violations, logic errors.',\n    'Output: VERDICT: PASS or FAIL | SEVERITY: critical/high/medium/low | FINDINGS: (numbered) | PAYMENT_RISK: yes/no',\n    '', ctx, '', 'Diff:', rawDiff.substring(0, 8000)\n  ].join('\\n');\n\n  qwenPrompt = [\n    'You are a Senior TypeScript/Next.js Architect reviewing this PR for the Apex fintech platform.',\n    'Check for: redundant loops, type safety violations, missing error boundaries, performance regressions.',\n    'Output: CODE_QUALITY_SCORE: X/10 | ISSUES: (numbered) | REWRITES: (show improved snippets)',\n    '', ctx, '', 'Diff:', rawDiff.substring(0, 8000)\n  ].join('\\n');\n\n  kimiPrompt = [\n    '<think>',\n    'You are a UX/Product Designer for the Apex \"African Futurism\" platform.',\n    'Review this PR for end-user impact: does it break the visual language, UTM tracking, payment flow, or accessibility?',\n    'Output: UX_IMPACT: low/medium/high | BREAKING_CHANGES: yes/no | RECOMMENDATIONS: (numbered list)',\n    '', ctx, '', 'Diff:', rawDiff.substring(0, 8000),\n    '</think>'\n  ].join('\\n');\n}\n\nreturn [{ json: {\n  deepseek_prompt: deepseekPrompt,\n  qwen_prompt:     qwenPrompt,\n  kimi_prompt:     kimiPrompt,\n  target_platform: platform,\n  task_type:       'PR_Audit',\n  pr_number:       prNumber,\n  pr_title:        prTitle,\n  pr_url:          prUrl,\n  repo_name:       repoName,\n  author,\n  context:         ctx,\n}}];\n"
      },
      "id": "prep-3",
      "name": "Prepare Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL + '/api/generate' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.OLLAMA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'deepseek-r1:latest', prompt: $('Prepare Prompts').item.json.deepseek_prompt, stream: false, options: { temperature: 0.6, num_predict: 2048 } }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "ds-4a",
      "name": "DeepSeek-R1 (Reasoning)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL + '/api/generate' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.OLLAMA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen3:latest', prompt: $('Prepare Prompts').item.json.qwen_prompt, stream: false, options: { temperature: 0.7, num_predict: 2048 } }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "qw-4b",
      "name": "Qwen3 (Analysis)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL + '/api/generate' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.OLLAMA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'kimi-k2:latest', prompt: $('Prepare Prompts').item.json.kimi_prompt, stream: false, options: { temperature: 0.5, num_predict: 4096 } }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "km-4c",
      "name": "Kimi K2 (Thinking)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst modelMap = [\n  { id: 'deepseek-r1', label: 'DeepSeek-R1 (Reasoning)' },\n  { id: 'qwen3',       label: 'Qwen3 (Analysis)'        },\n  { id: 'kimi-k2',     label: 'Kimi K2 (Thinking)'      },\n];\nreturn items.map((item, i) => {\n  const raw = item.json.response || item.json.message?.content || '[no response]';\n  const cleaned = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n  return { json: {\n    model_id:    modelMap[i]?.id    || `model_${i}`,\n    model_label: modelMap[i]?.label || `Model ${i}`,\n    response:    cleaned,\n    raw:         raw,\n    word_count:  cleaned.split(/\\s+/).length,\n    timed_out:   cleaned.length < 10,\n    duration_ms: Math.round((item.json.total_duration || 0) / 1e6),\n  }};\n});\n"
      },
      "id": "strip-5",
      "name": "Strip Think Tags & Label",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "merge-6",
      "name": "Merge Model Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items    = $input.all();\nconst platform = $('Prepare Prompts').item.json.target_platform || 'Moltcorp';\nconst prTitle  = $('Prepare Prompts').item.json.pr_title || '';\nconst prUrl    = $('Prepare Prompts').item.json.pr_url   || '';\nconst allOut   = items.every(i => i.json.timed_out);\n\nif (allOut) {\n  return [{ json: {\n    status: 'FALLBACK', hard_fail: false, fallback_used: true,\n    platform, pr_title: prTitle, pr_url: prUrl,\n    final_review: '\u26a0\ufe0f **Tri-Model Council** \u2014 All 3 models timed out. Manual review required.',\n    best_model: 'fallback', best_score: 0,\n    all_responses: items.map(i => ({ model: i.json.model_id, score: 0, timed_out: true })),\n    timestamp: new Date().toISOString(),\n  }}];\n}\n\n// Weights: DeepSeek\u00d70.4 + Qwen\u00d70.4 + Kimi\u00d70.2\nconst scored = items.map(item => {\n  const { model_id, response, word_count, timed_out, duration_ms } = item.json;\n  if (timed_out) return { ...item.json, score: 0, hard_fail: false };\n  const text = response.toLowerCase();\n  let score = 0, hardFail = false;\n\n  if (model_id === 'deepseek-r1') {\n    const isFail = /verdict:\\s*fail/i.test(response);\n    if (isFail) { hardFail = true; score = 80 * 0.4; }\n    else { score = (/verdict:\\s*pass/i.test(response) ? 90 : 60) * 0.4; }\n    if (text.includes('critical')) score += 5 * 0.4;\n\n  } else if (model_id === 'qwen3') {\n    const m = response.match(/CODE_QUALITY_SCORE:\\s*(\\d+)/i);\n    const q = m ? parseInt(m[1]) : Math.min(word_count / 15, 10);\n    score = q * 8 * 0.4;\n    if (text.includes('optimis')) score += 8 * 0.4;\n\n  } else if (model_id === 'kimi-k2') {\n    const impactMap = { low: 30, medium: 60, high: 90 };\n    const m = response.match(/UX_IMPACT:\\s*(low|medium|high)/i);\n    score = (m ? impactMap[m[1].toLowerCase()] : 50) * 0.2;\n    if (/BREAKING_CHANGES:\\s*no/i.test(response)) score += 10 * 0.2;\n  }\n\n  return { ...item.json, score: Math.round(score * 10) / 10, hard_fail: hardFail };\n});\n\nconst dsResult  = scored.find(s => s.model_id === 'deepseek-r1');\nconst hardFail  = dsResult?.hard_fail === true;\nconst best      = scored.reduce((a, b) => b.score > a.score ? b : a);\n\n// Build the GitHub comment\nconst verdict   = hardFail ? '\ud83d\udea8 REJECTED' : '\u2705 APPROVED';\nconst allScores = scored.map(s =>\n  `| ${s.model_label} | ${s.response.substring(0, 120).replace(/\\n/g,' ')}... | ${s.score} | ${s.duration_ms}ms |`\n).join('\\n');\n\nconst finalReview = [\n  `## ${verdict} by Tri-Model Council`,\n  `**PR:** [${prTitle}](${prUrl}) | **Platform:** ${platform}`,\n  '',\n  `### \ud83c\udfc6 Winning Model: ${best.model_label} (score: ${best.score})`,\n  '',\n  best.response,\n  '',\n  '### \ud83d\udcca All Model Scores',\n  '| Model | Summary | Score | Duration |',\n  '|-------|---------|-------|----------|',\n  allScores,\n  '',\n  '_Reviewed by Apex Tri-Model Council \u2014 DeepSeek-R1 + Qwen3 + Kimi K2_',\n].join('\\n');\n\nreturn [{ json: {\n  status: hardFail ? 'REJECTED' : 'APPROVED',\n  hard_fail: hardFail, fallback_used: false,\n  platform, pr_title: prTitle, pr_url: prUrl,\n  final_review: finalReview,\n  best_model: best.model_id, best_label: best.model_label,\n  best_response: best.response, best_score: best.score,\n  all_responses: scored.map(s => ({ model: s.model_label, score: s.score, duration_ms: s.duration_ms })),\n  timestamp: new Date().toISOString(),\n}}];\n"
      },
      "id": "score-7",
      "name": "Weighted Score & Hard-Fail Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ai_traces",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task: $('Prepare Prompts').item.json.task_type, query: $('Prepare Prompts').item.json.context, model: $json.best_model + ':tri-council', success: !$json.hard_fail && !$json.fallback_used, score: $json.best_score }) }}",
        "options": {}
      },
      "id": "log-8",
      "name": "Log to ai_traces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "issueComment",
        "operation": "create",
        "owner": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $('GitHub PR Trigger').item.json.repository.owner.login }}"
        },
        "repository": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $('GitHub PR Trigger').item.json.repository.name }}"
        },
        "issueNumber": "={{ $('GitHub PR Trigger').item.json.pull_request.number }}",
        "body": "={{ $('Weighted Score & Hard-Fail Gate').item.json.final_review }}"
      },
      "id": "post-gh-9",
      "name": "Post Review to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1920,
        600
      ],
      "credentials": {
        "githubApi": {
          "id": "githubApi",
          "name": "GitHub account 2"
        }
      }
    }
  ],
  "connections": {
    "GitHub PR Trigger": {
      "main": [
        [
          {
            "node": "Fetch PR Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PR Diff": {
      "main": [
        [
          {
            "node": "Prepare Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompts": {
      "main": [
        [
          {
            "node": "DeepSeek-R1 (Reasoning)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Qwen3 (Analysis)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kimi K2 (Thinking)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek-R1 (Reasoning)": {
      "main": [
        [
          {
            "node": "Strip Think Tags & Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen3 (Analysis)": {
      "main": [
        [
          {
            "node": "Strip Think Tags & Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kimi K2 (Thinking)": {
      "main": [
        [
          {
            "node": "Strip Think Tags & Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip Think Tags & Label": {
      "main": [
        [
          {
            "node": "Merge Model Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Model Responses": {
      "main": [
        [
          {
            "node": "Weighted Score & Hard-Fail Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weighted Score & Hard-Fail Gate": {
      "main": [
        [
          {
            "node": "Log to ai_traces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Review to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timezone": "Africa/Johannesburg"
  },
  "pinData": {}
}