n8n_rag_pipeline_kimi_final.json
{
  "name": "RAG Pipeline \u2013 Kimi Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-1-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "rag-pipeline"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst text = JSON.stringify(body);\n\nconst patterns = [\n  { regex: /\\b\\d{13}\\b/g, label: '[REDACTED_SA_ID]' },\n  { regex: /\\b\\d{6,17}\\b(?=.*bank)/gi, label: '[REDACTED_BANK_ACCOUNT]' },\n  { regex: /[A-Za-z0-9._%+\\-]+@[A-Za-z0-9.\\-]+\\.[A-Za-z]{2,}/g, label: '[REDACTED_EMAIL]' },\n  { regex: /(?:\\+27|0)[6-8]\\d{8}/g, label: '[REDACTED_SA_PHONE]' },\n  { regex: /\\b[A-Z]{1}\\d{7}\\b/g, label: '[REDACTED_PASSPORT]' },\n  { regex: /\\b[A-Z]{2}\\d{2}[A-Z0-9]{4,}\\d{7,}[A-Z0-9]{0,3}\\b/g, label: '[REDACTED_IBAN]' },\n  { regex: /\\b[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?\\b/g, label: '[REDACTED_SWIFT]' },\n  { regex: /\\b(?:\\d[ -]*?){13,19}\\b/g, label: '[REDACTED_CREDIT_CARD]' },\n  { regex: /\\b(0x[a-fA-F0-9]{40}|[13][a-km-zA-HJ-NP-Z1-9]{25,34}|r[0-9a-zA-Z]{24,34}|T[A-Za-z1-9]{33})\\b/g, label: '[REDACTED_CRYPTO_WALLET]' },\n  { regex: /(?:sk[_-]live[_-][A-Za-z0-9]{20,}|Bearer\\s+[A-Za-z0-9._\\-]{20,}|api[_-]?key[=:]\\s*[A-Za-z0-9._\\-]{16,})/gi, label: '[REDACTED_API_KEY]' }\n];\n\nlet sanitized = text;\nfor (const p of patterns) {\n  sanitized = sanitized.replace(p.regex, p.label);\n}\n\nconst sanitizedBody = JSON.parse(sanitized);\nreturn [{ json: { ...input, body: sanitizedBody, _sanitized: true } }];"
      },
      "id": "node-2-pii-filter",
      "name": "PII Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.first().json;\nconst headers = input.headers || {};\nconst signature = headers['x-signature'] || '';\nconst secret = '={{ $env.WEBHOOK_HMAC_SECRET || $env.SUPABASE_SERVICE_ROLE_KEY }}';\nconst payload = JSON.stringify(input.body || {});\n\nconst expected = crypto\n  .createHmac('sha256', secret)\n  .update(payload)\n  .digest('hex');\n\nif (signature !== expected) {\n  throw new Error('Invalid HMAC-SHA256 signature');\n}\n\nreturn [{ json: { ...input, _signatureValid: true } }];"
      },
      "id": "node-3-sig-validator",
      "name": "Sig Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_similar_memories",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query_embedding: $json.body.embedding || new Array(768).fill(0), match_count: 10, match_threshold: 0.5 }) }}",
        "options": {}
      },
      "id": "node-4-memory-retrieval",
      "name": "Memory Retrieval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "output": 0,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Sig Validator').item.json.body.task }}",
                    "rightValue": "review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "review"
            },
            {
              "output": 1,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Sig Validator').item.json.body.task }}",
                    "rightValue": "security",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "security"
            },
            {
              "output": 2,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Sig Validator').item.json.body.task }}",
                    "rightValue": "decision",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "decision"
            },
            {
              "output": 3,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Sig Validator').item.json.body.task }}",
                    "rightValue": "plan",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "plan"
            },
            {
              "output": 4,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Sig Validator').item.json.body.task }}",
                    "rightValue": "code",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "code"
            },
            {
              "output": 5,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Sig Validator').item.json.body.task }}",
                    "rightValue": "fix",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "fix"
            },
            {
              "output": 6,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Sig Validator').item.json.body.task }}",
                    "rightValue": "financial",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "financial"
            },
            {
              "output": 7,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Sig Validator').item.json.body.task }}",
                    "rightValue": "payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "payment"
            }
          ],
          "fallbackOutput": 8
        },
        "options": {
          "fallbackOutputLabel": "default"
        }
      },
      "id": "node-5-model-router",
      "name": "Model Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/reranker",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $('Sig Validator').item.json.body.query, documents: $('Memory Retrieval').item.json, top_k: 5 }) }}",
        "options": {}
      },
      "id": "node-6-reranker",
      "name": "Reranker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst documents = Array.isArray(input) ? input : (input.documents || input.results || [input]);\n\nconst sorted = documents\n  .filter(d => d && typeof d.rerank_score === 'number')\n  .sort((a, b) => b.rerank_score - a.rerank_score)\n  .slice(0, 5);\n\nreturn [{ json: { top_memories: sorted } }];"
      },
      "id": "node-7-top5-filter",
      "name": "Top-5 Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ollama.com/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.OLLAMA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ({'review':'qwen3.5:397b','security':'qwen3.5:397b','decision':'deepseek-v3.2','plan':'deepseek-v3.2','code':'glm-5','fix':'glm-5','financial':'kimi-k2.5','payment':'kimi-k2.5'})[$('Sig Validator').item.json.body.task] || 'deepseek-v3.2', prompt: 'Context:\\n' + ($('Top-5 Filter').item.json.top_memories || []).map(m => m.content || JSON.stringify(m)).join('\\n---\\n') + '\\n\\nQuery: ' + ($('Sig Validator').item.json.body.query || ''), stream: false }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-8-llm-call",
      "name": "LLM Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// NODE 9: EVAL GATE \u2014 Semantic Cosine Similarity (threshold 0.72)\n// Replaces hardcoded 0.8/0.7 defaults with real embedding-based evaluation.\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst input       = $input.first().json;\nconst llmResponse = input.response || input.text || JSON.stringify(input);\nconst query       = $('Sig Validator').item.json.body?.query\n                 || $('Sig Validator').item.json.body?.text\n                 || '';\n\nconst THRESHOLD  = 0.72;\nconst ollamaBase = $env.OLLAMA_BASE_URL || 'https://api.ollama.com';\nconst ollamaKey  = $env.OLLAMA_API_KEY  || '';\nconst embedModel = 'nomic-embed-text';   // 768-dim, compatible with pgvector schema\n\n// \u2500\u2500\u2500 Cosine similarity \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction cosine(a, b) {\n  if (!a || !b || a.length !== b.length) return 0;\n  let dot = 0, magA = 0, magB = 0;\n  for (let i = 0; i < a.length; i++) {\n    dot  += a[i] * b[i];\n    magA += a[i] * a[i];\n    magB += b[i] * b[i];\n  }\n  const denom = Math.sqrt(magA) * Math.sqrt(magB);\n  return denom ? dot / denom : 0;\n}\n\n// \u2500\u2500\u2500 Keyword fallback (used when Ollama embeddings API is unavailable) \u2500\u2500\u2500\u2500\nfunction keywordSim(q, r) {\n  // FIX (CR): coerce to string, use Set for rWords to prevent duplicate counting\n  const qStr = String(q || '').toLowerCase().replace(/[^\\w\\s]/g, ' ');\n  const rStr = String(r || '').toLowerCase().replace(/[^\\w\\s]/g, ' ');\n  const qWords = new Set(qStr.split(/\\s+/).filter(w => w.length > 3));\n  const rSet   = new Set(rStr.split(/\\s+/).filter(Boolean));\n  if (!qWords.size) return 0; // fail-closed: no query tokens\n  // Intersection size \u2014 each query token counted once regardless of repetition\n  const overlap = [...qWords].filter(w => rSet.has(w)).length;\n  return Math.min(0.95, 0.45 + (overlap / qWords.size) * 0.55);\n}\n\n// \u2500\u2500\u2500 Main eval logic \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet similarity     = 0;\nlet method         = 'keyword_fallback';\nlet responseEmbed  = null;\n\nif (ollamaBase && query && llmResponse) {\n  try {\n    const truncResponse = llmResponse.substring(0, 2000);\n\n    // Call Ollama embeddings API for both query and response in parallel\n    const [qRes, rRes] = await Promise.all([\n      $helpers.httpRequest({\n        method:  'POST',\n        url:     `${ollamaBase}/api/embeddings`,\n        headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${ollamaKey}` },\n        body:    JSON.stringify({ model: embedModel, prompt: query }),\n        json:    true,\n      }),\n      $helpers.httpRequest({\n        method:  'POST',\n        url:     `${ollamaBase}/api/embeddings`,\n        headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${ollamaKey}` },\n        body:    JSON.stringify({ model: embedModel, prompt: truncResponse }),\n        json:    true,\n      }),\n    ]);\n\n    if (Array.isArray(qRes?.embedding) && Array.isArray(rRes?.embedding)) {\n      similarity    = cosine(qRes.embedding, rRes.embedding);\n      responseEmbed = rRes.embedding;\n      method        = 'cosine_similarity';\n    } else {\n      similarity = keywordSim(query, llmResponse);\n    }\n\n  } catch (_embErr) {\n    // Embeddings endpoint unavailable \u2014 use keyword fallback\n    similarity = keywordSim(query, llmResponse);\n  }\n\n} else {\n  // No Ollama configured or empty inputs \u2014 keyword fallback\n  similarity = query ? keywordSim(query, llmResponse) : 0;\n}\n\nconst passed = similarity >= THRESHOLD;\n\nreturn [{\n  json: {\n    eval_passed:        passed,\n    semantic_similarity: parseFloat(similarity.toFixed(4)),\n    threshold:          THRESHOLD,\n    method,\n    // response_embedding passed downstream to Memory Store for pgvector write\n    response_embedding: passed ? responseEmbed : null,  // FIX: only store embedding when eval passed\n    answer: passed\n      ? llmResponse\n      : 'I was unable to generate a sufficiently relevant answer. Please rephrase your query or provide more context.',\n    fallback:          !passed,\n    original_response: input,\n  }\n}];\n"
      },
      "id": "node-9-eval-gate",
      "name": "Eval Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ai_traces",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task: $('Sig Validator').item.json.body.task || 'unknown', query: $('Sig Validator').item.json.body.query || $('Sig Validator').item.json.body.text || '', model: ({'review':'qwen3.5:397b','security':'qwen3.5:397b','decision':'deepseek-v3.2','plan':'deepseek-v3.2','code':'glm-5','fix':'glm-5','financial':'kimi-k2.5','payment':'kimi-k2.5'})[$('Sig Validator').item.json.body.task] || 'deepseek-v3.2', latency: Date.now() - ($('Webhook').item.json._startTime || Date.now()), tokens: $('LLM Call').item.json.eval_count || 0, success: $json.eval_passed, score: $json.semantic_similarity || 0, method: $json.method || 'unknown' }) }}",
        "options": {}
      },
      "id": "node-10-trace-logger",
      "name": "Trace Logger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/agent_memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({  type: $('Eval Gate').item.json.eval_passed ? 'win' : 'loss',  content: ($('Sig Validator').item.json.body.query || $('Sig Validator').item.json.body.text || '') + ' => '    + (typeof $('Eval Gate').item.json.answer === 'string'       ? $('Eval Gate').item.json.answer.substring(0, 500)       : JSON.stringify($('Eval Gate').item.json.answer).substring(0, 500)),  score: $('Eval Gate').item.json.semantic_similarity || 0,  embedding: $('Eval Gate').item.json.response_embedding}) }}",
        "options": {}
      },
      "id": "node-11-memory-store",
      "name": "Memory Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const evalResult = $('Eval Gate').item.json;\nconst task = $('Sig Validator').item.json.body.task || '';\nconst modelMap = {'review':'qwen3.5:397b','security':'qwen3.5:397b','decision':'deepseek-v3.2','plan':'deepseek-v3.2','code':'glm-5','fix':'glm-5','financial':'kimi-k2.5','payment':'kimi-k2.5'};\nconst modelUsed = modelMap[task] || 'deepseek-v3.2';\nconst memories = $('Top-5 Filter').item.json.top_memories || [];\n\nconst response = {\n  success: evalResult.eval_passed,\n  answer: evalResult.answer,\n  model: modelUsed,\n  score: {\n    semantic_similarity: evalResult.semantic_similarity\n  },\n  method: evalResult.method || 'unknown',\n  memories_used: memories.length,\n  memory_ids: memories.map(m => m.id).filter(Boolean),\n  fallback: evalResult.fallback || false,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: response }];"
      },
      "id": "node-12-response-builder",
      "name": "Response Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "node-13-http-response",
      "name": "HTTP Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2840,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "PII Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PII Filter": {
      "main": [
        [
          {
            "node": "Sig Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sig Validator": {
      "main": [
        [
          {
            "node": "Memory Retrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Retrieval": {
      "main": [
        [
          {
            "node": "Model Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Router": {
      "main": [
        [
          {
            "node": "Reranker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reranker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reranker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reranker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reranker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reranker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reranker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reranker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reranker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker": {
      "main": [
        [
          {
            "node": "Top-5 Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top-5 Filter": {
      "main": [
        [
          {
            "node": "LLM Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call": {
      "main": [
        [
          {
            "node": "Eval Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eval Gate": {
      "main": [
        [
          {
            "node": "Trace Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trace Logger": {
      "main": [
        [
          {
            "node": "Memory Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Store": {
      "main": [
        [
          {
            "node": "Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Builder": {
      "main": [
        [
          {
            "node": "HTTP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1",
  "tags": []
}